<div class="container_flex">
    <h1>Latest Projects</h1>
   
    <div class="galery_Flex_Container">
        <div class="card_Container">
              <div class="flex_Two_Column_Container">
                <div class="upper_Container">
                    <div class="test">
                        <img src="assets/images/calendly.png" alt="calendly project image">
                        <img src="assets/images/calendly2.png" alt="calendly project image">
                        <img src="assets/images/calendly3.png" alt="calendly project image">
                        <img src="assets/images/calendly4.png" alt="calendly project image">
                        <div class="icon-overlay">
                            <i class="fa-solid fa-image"></i>
                          </div>
                    </div>
                    <div class="test2">
                        <img src="assets/images/calendly.png" alt="calendly project image">
                        <div class="icon-overlay">
                            <i class="fa-solid fa-image"></i>
                          </div>
                    </div>   
                </div>
                <div class="down_Container">
                        <h2>Event Management for Labre Group</h2>

                        <p>Ante la necesidad de gestionar los eventos de los abogados y sus clientes se desarrollo esta herramienta...</p>

                        <button>Go Live</button>
                </div>
              </div>
        </div>
        <div class="card_Container">
            <div class="flex_Two_Column_Container">
              <div class="upper_Container">
                      <img src="assets/images/calendly.png" alt="calendly project image">
                      <div class="icon-overlay">
                        <i class="fa-solid fa-image"></i>
                      </div>
              </div>
              <div class="down_Container">
                      <h2>Event Management for Labre Group</h2>

                      <p>Ante la necesidad de gestionar los eventos de los abogados y sus clientes se desarrollo esta herramienta...</p>

                      <button>Go Live</button>
              </div>
            </div>
      </div>
      <div class="card_Container">
        <div class="flex_Two_Column_Container">
          <div class="upper_Container">
                  <img src="assets/images/calendly.png" alt="calendly project image">
                  <div class="icon-overlay">
                    <i class="fa-solid fa-image"></i>
                  </div>
          </div>
          <div class="down_Container">
                  <h2>Event Management for Labre Group</h2>

                  <p>Ante la necesidad de gestionar los eventos de los abogados y sus clientes se desarrollo esta herramienta...</p>

                  <button>Go Live</button>
          </div>
        </div>
  </div>
  <div class="card_Container">
    <div class="flex_Two_Column_Container">
      <div class="upper_Container">
              <img src="assets/images/calendly.png" alt="calendly project image">
              <div class="icon-overlay">
                <i class="fa-solid fa-image"></i>
              </div>
      </div>
      <div class="down_Container">
              <h2>Event Management for Labre Group</h2>

              <p>Ante la necesidad de gestionar los eventos de los abogados y sus clientes se desarrollo esta herramienta...</p>

              <button>Go Live</button>
      </div>
    </div>
</div>
<div class="card_Container">
    <div class="flex_Two_Column_Container">
      <div class="upper_Container">
              <img src="assets/images/calendly.png" alt="calendly project image">
              <div class="icon-overlay">
                <i class="fa-solid fa-image"></i>
              </div>
      </div>
      <div class="down_Container">
              <h2>Event Management for Labre Group</h2>

              <p>Ante la necesidad de gestionar los eventos de los abogados y sus clientes se desarrollo esta herramienta...</p>

              <button>Go Live</button>
      </div>
    </div>
</div>
<div class="card_Container">
    <div class="flex_Two_Column_Container">
      <div class="upper_Container">
              <img src="assets/images/calendly.png" alt="calendly project image">
              <div class="icon-overlay">
                <i class="fa-solid fa-image"></i>
              </div>
      </div>
      <div class="down_Container">
              <h2>Event Management for Labre Group</h2>

              <p>Ante la necesidad de gestionar los eventos de los abogados y sus clientes se desarrollo esta herramienta...</p>

              <button>Go Live</button>
      </div>
    </div>
</div>
    </div>
    
</div>
