<div class="container_flex">
    <h1>Latest Projects</h1>
   
    <div class="galery_Flex_Container">
        <div class="card_Container">
              <div class="flex_Two_Column_Container">
                <div class="upper_Container">
                    <div class="test">
                        <img src="assets/images/calendly.png" alt="calendly project image">
                        <img src="assets/images/calendly2.png" alt="calendly project image">
                        <img src="assets/images/calendly3.png" alt="calendly project image">
                        <img src="assets/images/calendly4.png" alt="calendly project image">
                        <div class="icon-overlay">
                            <i class="fa-solid fa-image"></i>
                          </div>
                    </div>
                    <div class="test2">
                        <img src="assets/images/calendly.png" alt="calendly project image">
                        <div class="icon-overlay">
                            <i class="fa-solid fa-image"></i>
                          </div>
                    </div>   
                </div>
                <div class="down_Container">
                        <h2>Event Management System for the LABRE group</h2>

                        <p>Lawyers and clients will be able to create events and follow up on them.</p>

                        <button>Go Live</button>
                </div>
              </div>
        </div>
        <div class="card_Container">
            <div class="flex_Two_Column_Container">
              <div class="upper_Container">
                <div class="test">
                  <img src="assets/images/HRProjects/cards.png" alt="calendly project image">
                  <img src="assets/images/HRProjects/login.png" alt="calendly project image">
                  <img src="assets/images/HRProjects/movil.png" alt="calendly project image">
                  <img src="assets/images/HRProjects/consoleok.jpeg" alt="calendly project image">
                  <div class="icon-overlay">
                      <i class="fa-solid fa-image"></i>
                    </div>
              </div>
              <div class="test2">
                <img src="assets/images/HRProjects/consoleok.jpeg" alt="calendly project image">
                  <div class="icon-overlay">
                      <i class="fa-solid fa-image"></i>
                    </div>
              </div> 
              </div>
              <div class="down_Container">
                      <h2>Employment application management system for HR</h2>

                      <p>
                        Now HR, can process applications from the management module, and interested candidates can apply for jobs at our company from anywhere.</p>

                      <button>Go Live</button>
              </div>
            </div>
      </div>
      <div class="card_Container">
        <div class="flex_Two_Column_Container">
          <div class="upper_Container">
            <div class="test">
              <img src="assets/images/PublicB/console.png" alt="calendly project image">
              <img src="assets/images/PublicB/start.png" alt="calendly project image">
              <img src="assets/images/PublicB/submit.png" alt="calendly project image">
              <div class="icon-overlay">
                  <i class="fa-solid fa-image"></i>
                </div>
          </div>
          <div class="test2">
              <img src="assets/images/PublicB/console.png" alt="calendly project image">
              <div class="icon-overlay">
                  <i class="fa-solid fa-image"></i>
                </div>
          </div> 
          </div>
          <div class="down_Container">
                  <h2>Public benefit Website.</h2>

                  <p>Project for managers at participating shelters to register public benefit requests.</p>

                  <button>Go Live</button>
          </div>
        </div>
  </div>
  <div class="card_Container">
    <div class="flex_Two_Column_Container">
      <div class="upper_Container">
        <div class="test">
          <img src="assets/images/olderPortfolio/cover.png" alt="calendly project image">
          <img src="assets/images/olderPortfolio/exp.png" alt="calendly project image">
          <img src="assets/images/olderPortfolio/project.png" alt="calendly project image">
          <img src="assets/images/olderPortfolio/contact.png" alt="calendly project image">
          <div class="icon-overlay">
              <i class="fa-solid fa-image"></i>
            </div>
      </div>
      <div class="test2">
          <img src="assets/images/olderPortfolio/cover.png" alt="calendly project image">
          <div class="icon-overlay">
              <i class="fa-solid fa-image"></i>
            </div>
      </div> 
      </div>
      <div class="down_Container">
              <h2>Old Portfolio</h2>

              <p>My old portfolio helped me get my first job in the United States.</p>

              <button onclick="window.open('https://storm-clash.github.io/portafolio/','_blank')">Go Live</button>
      </div>
    </div>
</div>
<div class="card_Container">
    <div class="flex_Two_Column_Container">
      <div class="upper_Container">
        <div class="test">
          <img src="assets/images/delfino/cover.png" alt="calendly project image">
          <img src="assets/images/delfino/main.png" alt="calendly project image">
          <img src="assets/images/delfino/footer.png" alt="calendly project image">
          <div class="icon-overlay">
              <i class="fa-solid fa-image"></i>
            </div>
      </div>
      <div class="test2">
          <img src="assets/images/delfino/footer.png" alt="calendly project image">
          <div class="icon-overlay">
              <i class="fa-solid fa-image"></i>
            </div>
      </div> 
      </div>
      <div class="down_Container">
              <h2>Event Management for Labre Group</h2>

              <p>Ante la necesidad de gestionar los eventos de los abogados y sus clientes se desarrollo esta herramienta...</p>

              <button onclick="window.open('https://storm-clash.github.io/WebDelfino/','_blank')">Go Live</button>
      </div>
    </div>
</div>
<!-- <div class="card_Container">
    <div class="flex_Two_Column_Container">
      <div class="upper_Container">
              <img src="assets/images/calendly.png" alt="calendly project image">
              <div class="icon-overlay">
                <i class="fa-solid fa-image"></i>
              </div>
      </div>
      <div class="down_Container">
              <h2>Event Management for Labre Group</h2>

              <p>Ante la necesidad de gestionar los eventos de los abogados y sus clientes se desarrollo esta herramienta...</p>

              <button>Go Live</button>
      </div>
    </div>
</div> -->
    </div>
    
</div>
