<div class="container_grid">
    <div class="left_grid">
        <img src="assets/images/Work_from_home.jpg">
    </div>
    <div class="right_grid">
        <div class="flex_container">
            <h1>I'm a Fullstack Developer with 5+ years of Experience</h1>
            <p>Experienced Fullstack Software Developer with a passion for crafting robust and scalable solutions. 
            Proven track record in designing and implementing high-performance applications. Adept at utilizing cutting-edge technologies to drive innovation and enhance user experiences.</p>
        </div>
        
    </div>
</div>
