<div class="container_grid">
    <h1>About Me</h1>
    <div class="left_grid">
        <img src="assets/images/Work_from_home.jpg">
    </div>
    <div class="right_grid">
        <div class="flex_container">
            <h1>I'm a Fullstack Developer with 4+ years of Experience</h1>
            <p>Experienced Fullstack Software Developer with a passion for crafting robust and scalable solutions. 
            Proven track record in designing and implementing high-performance applications. Adept at utilizing cutting-edge technologies to drive innovation and enhance user experiences.
            With a strong foundation in IT and a commitment to staying ahead in a dynamic industry, I thrive on tackling complex challenges and delivering optimal solutions.</p>
            <p>I am a team player and a fast learner. Tell me your problem, and we can find a solution together.Thank you if you read up to this point.</p>
        </div>
        <div class="options_Container">
            <a href="assets/cv/word cv.docx" download="word cv.docx" target="_blank" onclick="window.open('./assets/cv/word cv.docx')">Download CV</a>
            <button><img src="assets/images/linkedin.png" alt="My LinkedIn Profile" onclick="location.href='https://www.linkedin.com/in/jesuscode'"></button>
            <button><img src="assets/images/github.png" alt="My GitHub profile" onclick="location.href='https://github.com/storm-clash'"></button>
        </div>
    </div>
</div>
