<div class="container_grid">
    <div class="left_grid">
        <div class="flex_container">
            <p>Hi, my name is Jesus Garcia.</p>
            <h1>I'm a FullStack Developer</h1>
            <p>Based in Miami, Florida</p>
            <button>About Me</button>
        </div>
        <img id="css" src="assets/images/css.png" alt="Css Icon">
        <img id="html" src="assets/images/html.png" alt="html icon">
        <img id="js" src="assets/images/js.png" alt="js icon">
        <!-- <img id="java" src="assets/images/java.png"> -->
    </div>
    <div class="right_grid">
        <div class="image_Container">
            <img src="assets/images/jesus.png.jpg" alt="user image">
        </div>
        <img id="ts" src="assets/images/ts.png" alt="ts icon">
        <img id="csharp" src="assets/images/csharp.png" alt="Csharp icon">
        <img id="angular" src="assets/images/angular.png" alt="angular icon">
        <!-- <img id="spring" src="assets/images/spring.png"> -->
    </div>
</div>

