<div class="flex_container">

    <div class="left_flex">
        <div class="logo">
            <img src="assets/images/Borcelle.png" alt="logo image">
        </div>
        <h4 *ngIf="!isMobileResolution">Jesus <span class="lastName">Garcia</span></h4>
    </div>
    <div class="center_flex" >
        <ng-template #desktopContent>
        <ul class="list_Content" >
            <li class="nav_item">
                <a (click)="scrollTo('hoIam')">WHO IAM</a>
            </li>
            <li class="nav_item">
                <a (click)="scrollTo('about')">ABOUT ME</a>
            </li>
            <li class="nav_item">
                <a (click)="scrollTo('services')">SERVICES</a>
            </li>
            <li class="nav_item">
                <a (click)="scrollTo('skills')">SKILLS</a>
            </li>
            <li class="nav_item">
                <a (click)="scrollTo('portfolio')">PORTFOLIO</a>
            </li>
        </ul>
       </ng-template>
        <ul *ngIf="isMobileResolution; else desktopContent"  [ngClass]="{'list_Content': true, 'expanded': isExpanded, 'collapsed': !isExpanded}" (click)="toggleWidth()">
            <li class="nav_item">
                <a (click)="scrollTo('hoIam')"><img src="assets/images/who.png" alt="freecodecamp icon"></a>
            </li>
            <li class="nav_item">
                <a (click)="scrollTo('about')"><img src="assets/images/about.png" alt="freecodecamp icon"></a>
            </li>
            <li class="nav_item">
                <a (click)="scrollTo('services')"><img src="assets/images/service.png" alt="freecodecamp icon"></a>
            </li>
            <li class="nav_item">
                <a (click)="scrollTo('skills')"><img src="assets/images/skill.png" alt="freecodecamp icon"></a>
            </li>
            <li class="nav_item">
                <a (click)="scrollTo('portfolio')"><img src="assets/images/portfolio.png" alt="freecodecamp icon"></a>
            </li>
        </ul>
        <ul class="movil_Ul" *ngIf="isMobileResolution" (click)="toggleMenu()">
            <li class="hamburger"></li>
            <li class="hamburger"></li>
            <li class="hamburger"></li>
        </ul>

        <div class="hamburger__Menu-container" >

            <a (click)="scrollTo('hoIam')">
                <div>H</div>
                <span class="link-text">Hho I am</span>
            </a>
       
            <a (click)="scrollTo('about')">
                <div>A</div>
                <span class="link-text">About Me</span>
            </a>
       
            <a (click)="scrollTo('services')">
                <div>S</div>
                <span class="link-text">Services</span>
            </a>
            <a (click)="scrollTo('skills')">
                <div>S</div>
                <span class="link-text">Skills</span>
            </a>

            <a (click)="scrollTo('portfolio')">
                <div>P</div>
                <span class="link-text">Portfolio</span>
            </a>
            <a id="hamburger_Home" onclick="location.href='https://www.linkedin.com/in/jesuscode'">
                <img src="assets/images/linkedin.png" alt="My LinkedIn Profile" >
                <span class="link-text">LinkedIn</span>
            </a>
        </div>
        <!-- <img *ngIf="isMobileResolution" src="assets/images/menu.png" alt="freecodecamp icon" (click)="toggleWidth()"> -->
    </div>
   

</div>
<router-outlet></router-outlet>
