<div class="flex_container">

    <div class="left_flex">
        <div class="logo">
            <img src="assets/images/Borcelle.png" alt="logo image">
        </div>
        <h4 *ngIf="!isMobileResolution">Jesus <span class="lastName">Garcia</span></h4>
    </div>
    <div class="center_flex" >
        <ng-template #desktopContent>
        <ul class="list_Content" >
            <li class="nav_item">
                <a (click)="scrollTo('hoIam')">WHO IAM</a>
            </li>
            <li class="nav_item">
                <a (click)="scrollTo('about')">ABOUT ME</a>
            </li>
            <li class="nav_item">
                <a (click)="scrollTo('services')">SERVICES</a>
            </li>
            <li class="nav_item">
                <a (click)="scrollTo('skills')">SKILLS</a>
            </li>
            <li class="nav_item">
                <a (click)="scrollTo('portfolio')">PORTFOLIO</a>
            </li>
        </ul>
    </ng-template>
        <ul *ngIf="isMobileResolution; else desktopContent"  [ngClass]="{'list_Content': true, 'expanded': isExpanded, 'collapsed': !isExpanded}" (click)="toggleWidth()">
            <li class="nav_item">
                <a (click)="scrollTo('hoIam')"><img src="assets/images/who.png" alt="freecodecamp icon"></a>
            </li>
            <li class="nav_item">
                <a (click)="scrollTo('about')"><img src="assets/images/about.png" alt="freecodecamp icon"></a>
            </li>
            <li class="nav_item">
                <a (click)="scrollTo('services')"><img src="assets/images/service.png" alt="freecodecamp icon"></a>
            </li>
            <li class="nav_item">
                <a (click)="scrollTo('skills')"><img src="assets/images/skill.png" alt="freecodecamp icon"></a>
            </li>
            <li class="nav_item">
                <a (click)="scrollTo('portfolio')"><img src="assets/images/portfolio.png" alt="freecodecamp icon"></a>
            </li>
        </ul>
        <img *ngIf="isMobileResolution" src="assets/images/menu.png" alt="freecodecamp icon" (click)="toggleWidth()">
    </div>
    <div class="right_flex"></div>

</div>
<router-outlet></router-outlet>
