<div class="container_grid">
    <h1>Services</h1>
    <div class="left_grid">
        <div class="flex_Container">
            <div class="inner_Flex_Container">
                <div class="icon_Container">
                    <img src="assets/images/web_design.png">
                </div>
                <div class="info_Container">
                    <h5>Web Design</h5>
                    <p>We design web solutions that meet your expectations and go beyond. Let us help you take your web presence to the next level.</p>
                </div>
            </div>
            
        </div>
        <div class="flex_Container">
            <div class="inner_Flex_Container">
            <div class="icon_Container">
                <img src="assets/images/fronted.png">
            </div>
            <div class="info_Container">
                <h5>Fronted Development</h5>
                <p>We create attractive and functional user interfaces that enhance the user experience and strengthen your brand's online presence.</p>
            </div>
        </div>
        </div>
        <div class="flex_Container">
            <div class="inner_Flex_Container">
            <div class="icon_Container">
                <img src="assets/images/seo.png">
            </div>
            <div class="info_Container">
                <h5>SEO Marketing</h5>
                <p>We optimize your website to maximize its visibility in search engines and attract organic traffic. </p>
            </div>
        </div>
        </div>
    </div>
    <div class="right_grid">
        <div class="flex_Container">
            <div class="inner_Flex_Container">
            <div class="icon_Container">
                <img src="assets/images/backend.png">
            </div>
            <div class="info_Container">
                <h5>Backend Development</h5>
                <p>We develop robust and scalable backend solutions that drive your business forward and enhance the user experience.</p>
            </div>
        </div>
        </div>
        <div class="flex_Container">
            <div class="inner_Flex_Container">
            <div class="icon_Container">
                <img src="assets/images/database.png">
            </div>
            <div class="info_Container">
                <h5>DB Management</h5>
                <p>We offer database management solutions that ensure the efficient storage, access, and handling of your critical data.</p>
            </div>
        </div>
        </div>
        <div class="flex_Container">
            <div class="inner_Flex_Container">
            <div class="icon_Container">
                <img src="assets/images/consulting.png">
            </div>
            <div class="info_Container">
                <h5>External Consulting</h5>
                <p>We offer outsourcing consulting services that provide fresh perspectives and strategic solutions to drive your business forward.</p>
            </div>
        </div>
        </div>
    </div>
    <!-- <div class="when_hover_Container" *ngIf="isContentVisible">
        <h5>{{ hoveredContent.title }}</h5>
        <div *ngFor="let paragraph of hoveredContent.paragraphs">
            <p>{{ paragraph }}</p>
        </div>
    </div> -->
</div>

