<div class="container_grid">
    <h1>Services</h1>
    <div class="left_grid">
        <div class="flex_Container">
            <div class="inner_Flex_Container">
                <div class="icon_Container">
                    <img src="assets/images/web_design.png">
                </div>
                <div class="info_Container">
                    <h5>Web Design</h5>
                    <p>Diseñamos soluciones web que cumplen con sus expectativas y van más allá. Permítanos ayudarle a llevar su presencia web al siguiente nivel.</p>
                </div>
            </div>
            
        </div>
        <div class="flex_Container">
            <div class="inner_Flex_Container">
            <div class="icon_Container">
                <img src="assets/images/fronted.png">
            </div>
            <div class="info_Container">
                <h5>Fronted Development</h5>
                <p>Creamos interfaces de usuario atractivas y funcionales que mejoran la experiencia del usuario y fortalecen la presencia de su marca en línea.</p>
            </div>
        </div>
        </div>
        <div class="flex_Container">
            <div class="inner_Flex_Container">
            <div class="icon_Container">
                <img src="assets/images/seo.png">
            </div>
            <div class="info_Container">
                <h5>SEO Marketing</h5>
                <p>Optimizamos su sitio web para maximizar su visibilidad en los motores de búsqueda y atraer tráfico orgánico. </p>
            </div>
        </div>
        </div>
    </div>
    <div class="right_grid">
        <div class="flex_Container">
            <div class="inner_Flex_Container">
            <div class="icon_Container">
                <img src="assets/images/backend.png">
            </div>
            <div class="info_Container">
                <h5>Backend Development</h5>
                <p>Desarrollamos soluciones backend robustas y escalables que impulsan su negocio y mejoran la experiencia del usuario.</p>
            </div>
        </div>
        </div>
        <div class="flex_Container">
            <div class="inner_Flex_Container">
            <div class="icon_Container">
                <img src="assets/images/database.png">
            </div>
            <div class="info_Container">
                <h5>DB Management</h5>
                <p>Ofrecemos soluciones de gestión de bases de datos que aseguran el almacenamiento, acceso y manejo eficiente de sus datos críticos</p>
            </div>
        </div>
        </div>
        <div class="flex_Container">
            <div class="inner_Flex_Container">
            <div class="icon_Container">
                <img src="assets/images/consulting.png">
            </div>
            <div class="info_Container">
                <h5>External Consulting</h5>
                <p>Ofrecemos servicios de consultoría externa que proporcionan una perspectiva fresca y soluciones estratégicas para impulsar su negocio.</p>
            </div>
        </div>
        </div>
    </div>
    <!-- <div class="when_hover_Container" *ngIf="isContentVisible">
        <h5>{{ hoveredContent.title }}</h5>
        <div *ngFor="let paragraph of hoveredContent.paragraphs">
            <p>{{ paragraph }}</p>
        </div>
    </div> -->
</div>

