<div class="container_grid">
    <h1>Skills</h1>
    <div class="right_grid">
        <div class="flex_container">
            <h1>My Skills</h1>
            <div class="skills_Grid_Container">
                <div class="left_grid_Container">
                    <div class="flex_Container">
                        <div class="inner_Flex_Container">
                            <div class="icon_Container">
                                <img src="assets/images/angular.png">
                            </div>
                            <div class="info_Container">
                                <h5>Angular</h5>
                            </div>
                        </div>
                        
                    </div>
                    <div class="flex_Container">
                        <div class="inner_Flex_Container">
                        <div class="icon_Container">
                            <img src="assets/images/ts.png">
                        </div>
                        <div class="info_Container">
                            <h5>TypeScript</h5>
                        </div>
                    </div>
                    </div>
                    <div class="flex_Container">
                        <div class="inner_Flex_Container">
                        <div class="icon_Container">
                            <img src="assets/images/js.png">
                        </div>
                        <div class="info_Container">
                            <h5>JavaScript</h5>
                        </div>
                    </div>
                    </div>
                    <div class="flex_Container">
                        <div class="inner_Flex_Container">
                        <div class="icon_Container">
                            <img src="assets/images/html.png">
                        </div>
                        <div class="info_Container">
                            <h5>HTML</h5>
                        </div>
                    </div>
                    </div>
                    <div class="flex_Container">
                        <div class="inner_Flex_Container">
                        <div class="icon_Container">
                            <img src="assets/images/css.png">
                        </div>
                        <div class="info_Container">
                            <h5>CSS</h5>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="right_grid_Container">
                    <div class="flex_Container">
                        <div class="inner_Flex_Container">
                        <div class="icon_Container">
                            <img src="assets/images/csharp.png">
                        </div>
                        <div class="info_Container">
                            <h5>C#</h5>
                        </div>
                    </div>
                    </div>
                    <div class="flex_Container">
                        <div class="inner_Flex_Container">
                        <div class="icon_Container">
                            <img src="assets/images/java.png">
                        </div>
                        <div class="info_Container">
                            <h5>Java</h5>
                        </div>
                    </div>
                    </div>
                    <div class="flex_Container">
                        <div class="inner_Flex_Container">
                        <div class="icon_Container">
                            <img src="assets/images/spring.png">
                        </div>
                        <div class="info_Container">
                            <h5>Spring Boot</h5>
                        </div>
                    </div>
                    </div>
                    <div class="flex_Container">
                        <div class="inner_Flex_Container">
                        <div class="icon_Container">
                            <img src="assets/images/vb.png">
                        </div>
                        <div class="info_Container">
                            <h5>Visual Basic</h5>
                        </div>
                    </div>
                    </div>
                    <div class="flex_Container">
                        <div class="inner_Flex_Container">
                        <div class="icon_Container">
                            <img src="assets/images/sql.png">
                        </div>
                        <div class="info_Container">
                            <h5>SQL</h5>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="left_grid">
        <img src="assets/images/concept.jpg">
    </div>
   
</div>
