*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.main_container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    background: linear-gradient(to bottom, #fdfcfb, #e2d1c3);
    box-sizing: border-box;
}

.nav_container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 10;
}

.Iam_Container{
    height: 100vh;
    width: 100vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}