/* You can add global styles to this file, and also import other style files */

:root {
    --primary-color: rgb(0, 105, 255);
    --box-shadow:rgba(119, 191, 233, 0.432);
    --secondary-color: #2ecc71;
    --true-black:#050505;
    --font-size: 16px;
    --spacing: 8px;
}

*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
